{{> modalHeader}}    
        <ul class="list-gropu">
          {{#each images}}  
            <li class=" list-group-item {{#when defaultImage eq true}} list-group-item-success {{/when}}" data-ix="{{@index}}">
              <div class="row">
                <div class=" col-xs-4  col-md-4">
                  <div class="lbid-{{@index}} gallery">
                        <a {{> fileTypes}}>
                          {{#if thumbnail}} 
                            <img  class=""
                                src="{{folder_base}}/{{name}}_th.JPG?m={{#filemtime this}}"
                                alt="{{fileName}}"/>
                          {{else}}
                            {{> ispdf}}
                            <small class="">{{title}}</small>{{#when extension eq pdf}}<br><code>page: {{pdfPage}}</code>{{/when}}
                          {{/if}}
                        </a>
                  </div>
                </div>

                <div class="col-xs-8 col-md-8">
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-action active">
                      <div class="box-header" >
                        {{> boxTools}}
                        <div class="title-media" data-title="{{title}}">
                          <a {{> fileTypes}} >
                            <h5 class="">
                              {{title}}
                            </h5>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class=" list-group-item">upload by: {{userUpload}}</li>
                    <div class="list-group-item default-image">
                      <div class="row">
                        <div class="col-xs-3">
                        defualt:  
                        </div>
                        <div class="col-xs-4">
                          <span class="glyphicon 
                            {{#when defaultImage !eq true}}
                              glyphicon-unchecked 
                            {{/when}} 
                            {{#when defaultImage eq true}}
                              glyphicon-check 
                            {{/when}} 
                          "></span> 
                        </div>
                        <div class="col-xs-5" >
                          <button 
                            type="button" 
                            class="btn btn-primary btn-xs set-default-media" 
                            data-ix="{{@index}}"
                            data-cmd="set-default"
                            onclick="setDefault({{@index}})"
                            {{#when defaultImage eq true}}
                              style="display: none;"
                            {{/when}} 
                            >
                            Set as defualt
                          </button>
                        </div>
                      </div>
                    </div>
                    {{#if isRenamed}}
                      <li class=" list-group-item">The file whas renamed. Old name: {{oldName}}</li>
                    {{/if}}
                    <li class=" list-group-item">
                      <div class="row">
                        <div class=" col-xs-6"> <p>type - {{type}}</p> </div>
                        <div class=" col-xs-6"> <p> size - <code class="code-pdfsize-{{@index}}">{{size}}</code></p> </div>
                          {{#when extension eq pdf}} 
                          <br>
                          <div class="col-xs-12">
                            <div class="input-group">
                              <span class="input-group-addon">Set thumbnail page</span>
                              <input type="text" name="page" class="form-control" id="pdf-page-{{@index}}">
                              <span class="input-group-btn">
                                <button type="button" 
                                        class="btn btn-info btn-flat set-default-page" 
                                        onclick="setDefaultPage({{@index}})" 
                                        data-cmd="set-pdf-page"
                                        data-ix="{{@index}}"
                                >Go!</button>
                              </span>
                            </div>
                          </div>
                          {{/when}}
                      </div>
                    <li class=" list-group-item">date: {{dateUpload}}  - time: {{timeUpload}}</li>
                  </ul>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
{{> modalFooter}}