<div class="mySliders">
  <div class="row">
    {{#each images }}
      <div
        class="mySlides lbid-{{@key}} col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"
        style="{{#when defaultImage eq true}} display: block;{{/when}}"
      >
      <a {{> fileTypes}}>
        {{#if thumbnail}} 
          <img src="{{folder_base}}/{{name}}_th.{{extension}}?m={{#filemtime this}}"
              alt="{{title}}"/>
        {{else}}
          {{> ispdf}}
          <small class="">{{title}}</small>
        {{/if}}
      </a>
      </div>
      {{#when type eq mov}}
        {{> videoModal}}
      {{/when}}
      {{#when extension eq pdf}} 
        {{> pdfModal}}
      {{/when}}
    {{/each}}
  </div>
  <div class="row columns-thumbs">
    {{#each images }}
      <div class="col-xs-4 col-md-3">
        {{#if thumbnail}} 
          <img
            class="img-lite thumbnail {{#when defaultImage eq true}} active {{/when}}"
            src="{{folder_base}}/{{name}}_th.{{extension}}?m={{#filemtime this}}"
            data-ix={{@key}}
            alt="{{title}}"
          />
        {{else}}
          <a class="attachment-thumbnail-preview img-lite thumbnail {{#when defaultImage eq true}} active {{/when}}"
            title="{{title}}" 
            data-ix={{@key}}
            >
            {{> ispdf}}
          </a>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>