<div class="mySliders">
    {{#each images }}
  <div
    class="mySlides lbid-{{@index}}"
    style="border-bottom: 1px solid rgb(239, 239, 239); {{#if defaultImage}} display: block;{{/if}}"
  >
      <a
        onclick="showPdf('{{folder_base}}/{{fileName}}' , '' , '1' , '')" 
      >
        <img
          class="img-slide elevation-2"
          src="{{folder_base}}/{{name}}_th.jpg?m={{#filemtime this}}"
          alt="{{fileName}}"
        />
      </a>
  </div>
    {{/each}}
  <div class="row columns-thumbs">
    {{#each images }}
      <div class="col-xs-3 col-md-4 col-lg-4">
        <img
          class="img-lite {{#if defaultImage}} active {{/if}}"
          src="{{folder_base}}/{{name}}_th.jpg?m={{#filemtime this}}"
          onclick="currentSlide({{@index}})"
          alt="{{name}}"
        />
      </div>
    {{/each}}
  </div>
</div>