<div class="mySliders">
  <div class="row">
    {{#each images }}
      <div
        class="mySlides lbid-{{@index}} col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"
        style="{{#if defaultImage}} display: block;{{/if}}"
      >
      <a {{> fileTypes_bs3}}>
        {{#if thumbnail}} 
          <img src="{{folder_base}}/{{name}}_th.jpg?m={{#filemtime this}}"
              alt="{{fileName}}"/>
        {{else}}
          {{> ispdf_bs3}}
          <small class="">{{title}}</small>
        {{/if}}
      </a>
      </div>
      {{#when type eq mov}}
        {{> videoModal_bs3}}
      {{/when}}
      {{#when extension eq pdf}} 
        {{> pdfModal_bs3}}
      {{/when}}
    {{/each}}
  </div>
  <div class="row columns-thumbs">
    {{#each images }}
      <div class="col-xs-3 col-md-6">
        {{#if thumbnail}} 
          <img
            class="img-lite thumbnail {{#if defaultImage}} active {{/if}}"
            src="{{folder_base}}/{{name}}_th.jpg?m={{#filemtime this}}"
            onclick="currentSlide({{@index}})"
            alt="{{name}}"
          />
        {{else}}
          <a class="attachment-thumbnail-preview img-lite thumbnail {{#if defaultImage}} active {{/if}}"
            title="{{title}}" 
            onclick="currentSlide({{@index}})">
            {{> ispdf_bs3}}
          </a>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>