<div class="mySliders">
  <div class="row">
    {{#each images }}
  <div
    class="mySlides lbid-{{@index}} col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"
    style="{{#if defaultImage}} display: block;{{/if}}"
  >   
    {{> fileTypes_bs3}}

    {{#when type eq mov}}
      {{> videoModal_bs3}}
    {{/when}}
    {{#when extension eq pdf}} 
      {{> pdfModal_bs3}}
    {{/when}}
    
  </div>
    {{/each}}
    </div>
  <div class="row columns-thumbs">
    {{#each images }}
      <div class="col-xs-3 col-md-6">
        <img
          class="img-lite thumbnail {{#if defaultImage}} active {{/if}}"
          src="{{folder_base}}/{{name}}_th.jpg?m={{#filemtime this}}"
          onclick="currentSlide({{@index}})"
          alt="{{name}}"
        />
      </div>
    {{/each}}
  </div>
</div>