<div 
  class="modal fade" 
  id="modal-gallery" 
  role="dialog"
  aria-labelledby='modal-gallery-label'
  >
  <div 
    class=" modal-dialog modal-lg " 
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button 
          type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close"
        >
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h4 class="modal-title">
          Gallery
        </h4>
      </div>
        <div class="modal-body">    
          <ul class="list-gropu" >
              {{#each images}}  
            <li class=" list-group-item {{#if defaultImage}} list-group-item-success {{/if}}">
              <div class="row">
                <div class=" col-xs-4  col-md-4">
                  <div class="lbid-{{@index}}">
                      {{> fileTypes_bs3}}
                  </div>
                </div>

                <div class="col-xs-8 col-md-8">
                  <ul class="list-group">
                    <a class="list-group-item list-group-item-action active"
                     {{#when extension eq pdf}} 
                         href="#" onclick="showPdf('{{folder_base}}/{{fileName}}' , '{{name}}' )"
                      {{/when}}
                      {{#when type eq img}}
                        href="{{folder_base}}/{{fileName}}" data-lightbox="set-{{@index}}" data-title="{{title}}"
                      {{/when}}
                      {{#when type eq mov}}
                        href="#" data-modal-id="modal-video-{{@index}}"
                      {{/when}}
                    >
                      <h5 class="">
                        {{title}}
                      </h5>
                    </a>
                    <li class=" list-group-item">extension: {{extension}}</li>
                    <li class=" list-group-item">upload by: {{userUpload}}</li>
                    <div class="list-group-item default-image">
                      <div class="row">
                        <div class="col-xs-3">
                        defualt:  
                        </div>
                        {{#if defaultImage}}
                          <div class="col-xs-9">true</div>
                        {{else}} 
                        <div class="col-xs-4">
                          false 
                        </div>
                        <div class="col-xs-5" >
                          <button type="button" class="btn btn-primary btn-xs set-default-image" data-index="{{index}}">
                            Set as defualt
                          </button>
                        </div>
                        {{/if}}
                      </div>
                    </div>
                    {{#if isRenamed}}
                      <li class=" list-group-item">The file whas renamed. Old name: {{oldName}}</li>
                    {{/if}}
                    <li class=" list-group-item">

                      <div class="row">
                        <div class=" col-xs-3">type - size:</div>
                        <div class=" col-xs-4">{{type}} - {{size}}</div>
                        {{#when extension eq pdf}} 
                        <div class=" col-xs-5">
                          <button type="button" class="btn btn-primary btn-xs set-thumbnail-page" data-index="{{index}}">
                            Set thumbnail page
                          </button>
                        </div>
                        {{/when}}
                      </div>

                    <li class=" list-group-item">folder: {{folder_base}}</li>
                    <li class=" list-group-item">date: {{dateUpload}}  - time: {{timeUpload}}</li>
                  </ul>
                </div>
              </div>
            </li>
              {{/each}}
          </ul>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save_button('{{tn}}','{{id}}');">Save changes</button>
      </div>
    </div>
  </div>
</div>