<div
  class='modal fade in'
  id="modal-pdf-{{@index}}"
  role='dialog'
  aria-labelledby='modal-pdf-label'
>
  <div 
    class='modal-dialog modal-lg' 
    role='document'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>
            &times;
          </span>
        </button>
        <h4 class='modal-title'>
          {{title}}
        </h4>
      </div>
      <div class='modal-body'>
        <div style='height:100%;'>
          <embed
            src="{{folder_base}}/{{fileName}}#view=Fit"
            width='100%'
            height='100%'
            style='z-index: 20;'
          />
        </div>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          onclick="download_button('{{tn}}','{{id}}');"
        >
          <i class='glyphicon glyphicon-cloud-download'></i>
          Download
        </button>
        <button type='button' class='btn btn-default' data-dismiss='modal'>
          <i class='glyphicon glyphicon-remove'></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>