<div
  class='myVideo modal fade in'
  id="modal-video-{{@index}}"
  tabindex='-1'
  role='dialog'
  aria-labelledby='modal-video-label'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>
            &times;
          </span>
        </button>
        <h3 class='modal-title'>
          {{title}}
        </h3>
      </div>
      <div class='modal-body'>
        <div class='modal-video'>
          <div align='center' class='embed-responsive embed-responsive-16by9'>
            <video
              id="video-mp4-{{@index}}"
              controls
              class='embed-responsive-item'
            >
              <source src="{{folder_base}}/{{fileName}}" type='video/mp4' />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>