<div class="box box-{{color}} {{#if solid}}box-solid{{/if}} {{class}}" {{attr}}>
  <div class="box-header {{with-border}}" >
    <h5>{{headline}}</h5>
    <div class="box-tools pull-right">
      <button type="button" 
              class="btn btn-box-tool" 
              data-widget="collapse">
              <i class=" glyphicon glyphicon-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">