<div class="info-box bg-yellow" id="{{id}}">
  <span class="info-box-icon">
    <i class="{{icon}}"></i>
  </span>
  <div class="info-box-content">
    <span class="info-box-text">
      {{text}}
    </span>
    <span class="info-box-number">
      {{value}}
    </span>
    <div class="progress">
      <div class="progress-bar" style="width: {{value_progress}}%"></div>
    </div>
    <span class="progress-description">
      {{description}}
    </span>
  </div>
</div>